.sahara-destination{
    height: 45vh;
    background-position: center;
    background-size: cover;
}


/* Keyframes for zoom in and out animation */
@keyframes zoomInOut {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.2);
    }
    100% {
      transform: scale(1);
    }
  }
  
 /* Apply animation to h1 inside .sahara-destination */
  .sahara-destination h1 {
    animation: zoomInOut 3s ease-in-out infinite;
  }