/*NextHoliday.css*/
.nex-holiday-section .card{
    height: 250px;
    background-position: center;
    background-size: cover;
    }
.nex-holiday-section .card:hover{
    cursor:pointer;
}

.nex-holiday-section .card h2{
    font-size: 2rem;
}

.nex-holiday-section .row .col-md-6:first-of-type .card {
    background-image:linear-gradient(rgba(0,0,0,.7), rgba(0,0,0,.67)), url(../../Assets/images/Tabarka-holiday.jpg);
}
.nex-holiday-section .row .col-md-6:nth-of-type(2) .card {
    background-image:linear-gradient(rgba(0,0,0,.7), rgba(0,0,0,.67)),  url(../../Assets/images/Touzer-holiday.jpg);
}
.nex-holiday-section .row .col-md-6:nth-of-type(3) .card {
    background-image: linear-gradient(rgba(0,0,0,.7), rgba(0,0,0,.67)), url(../../Assets/images/Djerba-holiday.jpg);
}
.nex-holiday-section .row .col-md-6:nth-of-type(4) .card {
    background-image: linear-gradient(rgba(0,0,0,.7), rgba(0,0,0,.67)), url(../../Assets/images/Ain-Drahem-holiday.jpg);
}
.nex-holiday-section .row .col-md-6:nth-of-type(5) .card {
    background-image:linear-gradient(rgba(0,0,0,.7), rgba(0,0,0,.67)),  url(../../Assets/images/Klibia-holiday.jpg);
}
.nex-holiday-section .row .col-md-6:nth-of-type(6) .card {
    background-image: linear-gradient(rgba(0,0,0,.7), rgba(0,0,0,.67)), url(../../Assets/images/Mahdia-holiday.jpg);
}
.nex-holiday-section .row .col-md-6:nth-of-type(7) .card {
    background-image: linear-gradient(rgba(0,0,0,.7), rgba(0,0,0,.67)), url(../../Assets/images/Zaghouane-holiday.jpg);
}
.nex-holiday-section .row .col-md-6:nth-of-type(8) .card {
    background-image:linear-gradient(rgba(0,0,0,.7), rgba(0,0,0,.67)),  url(../../Assets/images/Hammamet-holiday.jpg);
}
.nex-holiday-section .row .col-md-6:nth-of-type(9) .card {
    background-image:linear-gradient(rgba(0,0,0,.7), rgba(0,0,0,.67)),  url(../../Assets/images/Bizerte-holiday.jpg);
}
.nex-holiday-section .row .col-md-6:last-of-type .card {
    background-image: linear-gradient(rgba(0,0,0,.7), rgba(0,0,0,.67)), url(../../Assets/images/Marsa-holiday.jpg);
}