.city-breaks-hero-section{
    height: 75vh;
    background-position: center;
    background-size: cover;
}

/* Keyframes for zoom in and out animation */
@keyframes zoomInOut {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.2);
    }
    100% {
      transform: scale(1);
    }
  }
  
 /* Apply animation to h1 inside .city-breaks-hero-section */
  .city-breaks-hero-section h1 {
    animation: zoomInOut 3s ease-in-out infinite;
  }